.nav{
    background-color: #d3d3d3;
    position: fixed;
    width: 100%;
}   

.nav-item{
    width: 3rem;
    height: 3rem;
    transition: all 0.2s
}

.nav-item:hover{
    background-color: #1c2777 
    
}