/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
h1{
  margin: 0;
  padding: 1rem;
}
ul,div,li,body,html,section{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul{
  list-style: none;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.space-around{
  justify-content: space-around;
}

.align-center{
  align-items: center;
}

.background{
  height: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('./img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 